* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
color: #ffffff;
margin-top: 75px;
margin-bottom: 26px;
}

input {
background:rgba(255, 255, 255, 0.25);
border: 1px solid rgba(255, 255, 255, 0.2);
border-radius: 14px;
height: 74px;
width: 342px;
padding-left: 20px;
font-weight: 500;
font-size: 40px;
line-height: 47px;
color: #ffffff;
outline: none;
}

.min {
    margin-right: 62px;
}

button {
    background: #AEC346;
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
    border-radius: 10px;
    height: 72px;
    width: 342px;
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    margin-top: 80px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}
button:active {
    opacity: 0.8;
}

